DJANGO_SECRET_KEY=coloque-uma-chave-grande-aqui
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=fabianopolone.com.br,www.fabianopolone.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://fabianopolone.com.br,https://www.fabianopolone.com.br
